---
# code: language=ansible
# tasks file for trng_env role

- name: Configuration block to setup all trainees
  become: true
  tags:
    - trng_env
    - trng_env_configure_trainees
  block:
    - name: Ensure workspace base exists
      ansible.builtin.file:
        path: /srv/workspaces
        state: directory
        mode: '0755'

    - name: Create workspace per trainee
      ansible.builtin.file:
        path: "/srv/workspaces/{{ item }}"
        state: directory
        mode: '1777'
      loop: "{{ trng_env_trainees }}"

    - name: Ensure docs directory exists in trainee workspaces
      ansible.builtin.file:
        dest: "/srv/workspaces/{{ item }}/docs"
        state: directory
        mode: '1777'
      loop: "{{ trng_env_trainees }}"
      tags:
        - trng_env_trainee_docs

    - name: Copy trainee docs to workspaces
      ansible.builtin.copy:
        src: "docs/"
        dest: "/srv/workspaces/{{ item }}/docs/"
        owner: root
        group: root
        mode: '0666'
      loop: "{{ trng_env_trainees }}"
      tags:
        - trng_env_trainee_docs

    - name: Start containers for trainees
      containers.podman.podman_container:
        name: "{{ item }}"
        image: "{{ trng_env_training_image }}"
        state: started
        detach: true
        privileged: true
        tty: true
        interactive: true
        restart_policy: always
        hostname: "{{ item }}"
        cap_add:
          - NET_ADMIN
        device:
          - /dev/fuse
          - /dev/net/tun
        volume:
          - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
          - "/srv/workspaces/{{ item }}:/workspace:Z"
        ports:
          - "{{ trng_env_port_start + index }}:22"
        env:
          USERNAME: "{{ item }}"
          HOME: "/workspace"
          STORAGE_DRIVER: "vfs"
          PASSWORD: "{{ trng_env_password_prefix + item }}"
        command: /bin/bash
      loop: "{{ trng_env_trainees }}"
      loop_control:
        index_var: index
      tags:
        - trng_env_trainee_containers

    - name: Allow UFW ports for trainees
      community.general.ufw:
        rule: allow
        port: "{{ trng_env_port_start }}:{{ trng_env_port_start + trng_env_trainees_count - 1 }}"
        proto: tcp
      tags:
        - trng_env_trainee_containers
        - trng_env_ufw
